# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Android (native build)
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.cxx/
android/app/.cxx/
android/app/captures/
android/.idea/
android/*.iml
android/app/*.iml

# iOS (native build)
ios/*.mode1v3
ios/*.mode2v3
ios/*.moved-aside
ios/*.pbxuser
ios/*.perspectivev3
ios/*.userid
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/build/
ios/Pods/
ios/.xcode.env.local

# Native Keys (Secrets)
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS & System
.DS_Store
*.pem
Thumbs.db
*.log

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# typescript
*.tsbuildinfo

# Editor
.vscode/
.idea/

app-example